<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SW - Films</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script defer src="/scripts/stars.js"></script>
    <script defer src="/scripts/index.js"></script>
    <script defer src="/scripts/films.js"></script>
  </head>
  <body>
    <h1 class="page-title">FILMS</h1>
    <div class="films-container flex wrap"></div>
    <nav class="nav-links">
      <a href="/">home</a>
    </nav>
  </body>
</html>
