<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SW - Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <script defer src="/scripts/stars.js"></script>
    <script defer src="/scripts/index.js"></script>
  </head>
  <body>
    <main class="logo-container flex">
      <img class="sw-logo" src="/assets/swLogo.png" alt="Star Wars logo" />
    </main>
    <nav class="nav-links flex">
      <a href="/films">films</a>
      <a href="/planets">planets</a>
    </nav>
  </body>
</html>
